Language: C
BasedOnStyle: LLVM
IndentWidth: 4
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
ColumnLimit: 0
